name: TypeART-CI

on:
  push:
    branches: [ master, devel ]
  pull_request:

env:
  CXX: clang++-10
  CC: clang-10
  EXTERNAL_LIT: /usr/lib/llvm-10/build/utils/lit/lit.py
  OMP_NUM_THREAD: 2

jobs:
  format-check:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Format source code
        run: |
          find demo lib test \
            -type f \
            -a \( -name "*.c" -o -name "*.cpp" -o -name "*.h" \) \
            -not -path "*/lulesh/*" \
            -print0 \
            | xargs -0 clang-format-10 -i

      - name: List newly formatted files
        run: git status --porcelain --untracked-files=no

      - name: Check format
        run: git status --porcelain --untracked-files=no | xargs -o -I {} test -z \"{}\"

  lit-suite:
    runs-on: ubuntu-20.04
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    strategy:
      fail-fast: false
      matrix:
        preset:
          - name: ci-thread-safe-safeptr
          - name: ci-thread-safe
          - name: ci-thread-unsafe
          - name: ci-cov-thread-safe-safeptr
            coverage: true
          - name: ci-cov-thread-safe
            coverage: true
          - name: ci-cov-thread-unsafe
            coverage: true
          - name: ci-libcxx
            libcxx: true
            skip_test: true

    steps:
      - uses: actions/checkout@v2

      - name: Install LLVM
        run: sudo apt-get install libllvm10 llvm-10 llvm-10-dev

      - name: Install LLVM OpenMP runtime
        run: sudo apt-get install libomp-10-dev libomp5-10

      - name: Install Clang
        run: sudo apt-get install clang-10 clang-tidy-10

      - name: Install libc++
        if: matrix.libcxx
        run: sudo apt-get install --no-install-recommends libc++-10-dev libc++abi-10-dev

      - name: Install OpenMPI
        run: sudo apt-get install libopenmpi-dev openmpi-bin

      - name: Install lcov
        if: matrix.preset.coverage
        run: sudo apt-get install lcov

      - name: Setup env
        run: |
          sudo ln -f -s /usr/bin/clang-10 /usr/bin/clang
          sudo ln -f -s /usr/bin/clang++-10 /usr/bin/clang++
          sudo ln -f -s /usr/bin/opt-10 /usr/bin/opt
          sudo ln -f -s /usr/bin/FileCheck-10 /usr/bin/FileCheck
          sudo ln -f -s /usr/bin/llc-10 /usr/bin/llc
          sudo ln -f -s /usr/bin/clang-tidy-10 /usr/bin/clang-tidy

      - name: Configure TypeART
        run: |
          cmake -B build --preset ${{ matrix.preset.name }}

      - name: Build TypeART
        run: cmake --build build --parallel 2

      - name: Prepare TypeART coverage
        if: matrix.preset.coverage
        run: cmake --build build --target lcov-clean

      - name: Test TypeART lit-suite
        if: matrix.skip_test == false
        run: cmake --build build --target lit-pass-test

      - name: Build coverage report
        if: matrix.preset.coverage
        run: cmake --build build --target lcov-html

      - name: Prepare coverage artifact
        if: matrix.preset.coverage
        run: |
          mkdir -p artifact/${{ matrix.preset.name }}
          mv build/profiles/ artifact/${{ matrix.preset.name }}

      - name: Upload test coverage artifact
        if: matrix.preset.coverage
        uses: actions/upload-artifact@v2
        with:
          name: typeart-ci-coverage
          path: artifact

      - name: Coveralls (parallel)
        if: matrix.preset.coverage
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: build/typeart.coverage
          flag-name: ${{ matrix.preset.name }}
          parallel: true

  finish-coverage:
    needs: lit-suite
    runs-on: ubuntu-20.04
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          parallel-finished: true
