name: TypeART-CI

on:
  push:
    branches: [ master, devel ]
  pull_request:

jobs:
  build-and-run-test:
    runs-on: ubuntu-18.04
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    steps:
      - uses: actions/checkout@v2

      - name: Setup LLVM repository
        run: |
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key 2>/dev/null | sudo apt-key add -
          sudo add-apt-repository 'deb http://apt.llvm.org/bionic/ llvm-toolchain-bionic-10 main' -y
          sudo apt-get update -q

      - name: Install LLVM and Clang
        run: |
          sudo apt-get install libllvm10 llvm-10 llvm-10-dev
          sudo apt-get install clang-10 clang-tidy-10

      - name: Install OpenMPI
        run: sudo apt-get install libopenmpi-dev openmpi-bin

      - name: Install lcov
        run: sudo apt-get install lcov

      - name: Setup env
        run: |
          sudo ln -f -s /usr/bin/clang-10 /usr/bin/clang
          sudo ln -f -s /usr/bin/clang++-10 /usr/bin/clang++
          sudo ln -f -s /usr/bin/opt-10 /usr/bin/opt
          sudo ln -f -s /usr/bin/FileCheck-10 /usr/bin/FileCheck
          sudo ln -f -s /usr/bin/llc-10 /usr/bin/llc
          sudo ln -f -s /usr/bin/clang-tidy-10 /usr/bin/clang-tidy
          echo "CC=clang-10" >> $GITHUB_ENV
          echo "CXX=clang++-10" >> $GITHUB_ENV
          echo "EXTERNAL_LIT=/usr/lib/llvm-10/build/utils/lit/lit.py" >> $GITHUB_ENV

      - name: Build TypeART
        run: |
          cmake -B build -DTEST_CONFIG=ON -DENABLE_CODE_COVERAGE=ON -DLLVM_EXTERNAL_LIT=${EXTERNAL_LIT}
          cmake --build build --parallel

      - name: Test TypeART with coverage
        run: |
          cmake --build build --target lcov-clean
          cmake --build build --target test -- ARGS=-VV

      - name: Build coverage report
        run: cmake --build build --target lcov-html

      - name: Build TypeART release
        run: |
          cmake -B build_lulesh -DCMAKE_BUILD_TYPE=Release -DMPI_INTERCEPT_LIB=ON -DSHOW_STATS=ON
          cmake --build build_lulesh --parallel

      - name: Test TypeART release on lulesh
        working-directory: build_lulesh
        run: ctest -V -R lulesh -O lulesh2.0_build.log

      - name: Prepare artifact
        run: |
          mkdir -p artifact/lulesh
          mkdir -p artifact/coverage
          mv build_lulesh/lulesh2.0_build.log artifact/lulesh/
          mv test/lulesh/lulesh2.0_out.log artifact/lulesh/
          mv test/lulesh/types.yaml artifact/lulesh/lulesh2.0_types.yaml
          mv build/profiles/* artifact/coverage

      - name: Upload lulesh test artifact
        uses: actions/upload-artifact@v2
        with:
          name: typeart-ci
          path: artifact

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: build/typeart.coverage
